ClientTigli/ClientTigli/Connected Services/ServiceTigli/TigliService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TigliService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/tigli/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/tigli/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITigliService_GetItinerary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItinerary" />
  </wsdl:message>
  <wsdl:message name="ITigliService_GetItinerary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryResponse" />
  </wsdl:message>
  <wsdl:message name="ITigliService_GetCoords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoords" />
  </wsdl:message>
  <wsdl:message name="ITigliService_GetCoords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITigliService">
    <wsdl:operation name="GetItinerary">
      <wsdl:input wsaw:Action="http://tempuri.org/ITigliService/GetItinerary" message="tns:ITigliService_GetItinerary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITigliService/GetItineraryResponse" message="tns:ITigliService_GetItinerary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoords">
      <wsdl:input wsaw:Action="http://tempuri.org/ITigliService/GetCoords" message="tns:ITigliService_GetCoords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITigliService/GetCoordsResponse" message="tns:ITigliService_GetCoords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITigliService" type="tns:ITigliService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItinerary">
      <soap:operation soapAction="http://tempuri.org/ITigliService/GetItinerary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoords">
      <soap:operation soapAction="http://tempuri.org/ITigliService/GetCoords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TigliService">
    <wsdl:port name="BasicHttpBinding_ITigliService" binding="tns:BasicHttpBinding_ITigliService">
      <soap:address location="http://localhost:8081/tigli/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>